.mCard
{
    padding:10px;
    margin:20px;
    border-radius:4px;
    background: #f1f1f1;
    box-shadow: 1px 2px 2px 2px lightgray;
}


.mCard:hover
{
    background: #81D4FA;
    -webkit-transition: background 0.7s; /* Safari */
    transition: background 0.7s;
}

.bttn
{
    border:0px;
    padding:10px;
    background: #f9f9f9;
    border-radius:2px;
}

.bttn:hover
{
    background: teal;
    -webkit-transition: background 0.71s; /* Safari */
    transition: background 0.71s;
}


a
{
    text-decoration:none;
}